{% extends 'base.html'%}

{% block title %}
<title>작업 일지</title>
{% endblock %}

{% block body %}
{% load static %}

    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">작업 일지</h1>
                    <p class='text-white'>작업자 출입 일지가 기록되는 장소입니다</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <div id ="board_write">
        <h4>작업일지</h4>
        <!-- write_area = 게시판 내용 작성 페이지 -->
        <div id = "write_area">
            <form enctype="multipart/form-data" action="write_ok.php?board_id=<?echo $board_id;?>" method="post">
                <div id="in_title">
                    <textarea name="title" id="utitle" rows="1" cols="55" placeholder="내용" required></textarea>    
                </div>

                <div class="wi_line"></div>
                <div id="in_content">
                    <textarea name="content" id="ucontent" placeholder="내용" required></textarea>
                </div>

                <input type="file" name="SelectFile"  />
            
                <div class="bt_se">
                    <button type="submit">내용 입력</button>
                </div>
                
                <div class="bt_wrap">
                    <a href="/main/workLog/view/" class="on">등록</a>
                    <a href="/main/workLog/">취소</a>
                </div>

            </form>
        </div>
    </div>

{% endblock %}